@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

// Fuentes
$fuente_principal: "Open Sans", sans-serif;

// Tamaño de Media Queries
$telefono: 350px;
$tablet: 745px;
$desktop: 1024px;

// Colores
$negro: #000000;
$rojo: #ff5858;
$amarillo: #e08709;
$amarilloClaro: #e08609c2;
$verde: #71b100;
$verdeClaro: #7dbd10d0;
$verdeClasico: #00cba9;
$blanco: #ffffff;
$gris: #e1e1e1;
$grisOscuro: #a8a8a8;
$blanco_gris: #f6f6f6;
$blanco_claro: #f7f7f7;
$separacion: 5rem;

// Fuentes
$normal: 100;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
